<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1><%=@position_name%> Players</h1>

    <ul>
      <% @position_players.each do |player| %>
        <li><%=player%></li>
      <% end %>
    </ul>
  </body>
</html>
